#wp{
    background:#dabb85;
    top:0px;
    width: 100%;
    height: 100px;

}
.menu{
    width:99.2%;
    height: 100px;;
    background:#dabb85;
    position: fixed;
    top:0px;
}
.menu img{
    width: 60px;;
    height: 60px;;
    margin-left: 20px;;
    
}
.banner img{
    width: 100%;
    height: 600px;
    margin-top:93px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#main-menu{
  display: flex;
 list-style: none;
 margin-right: 700px;;
 padding: 15px;
}
#main-menu li {
    position: relative;
}
#main-menu li a{
   color: #462c1f;
   margin-left: 70px;;
   text-decoration:none;
   font-family:Bahnschrift SemiBold;
   font-weight: bold;
   font-size: 20px;;
}

#main-menu ul.sub-menu{
    position: absolute;
    background:#dabb85;
    color: #462c1f;
    padding: 15px 10px;
    list-style:none ;
    width: 160px;;
    margin-left: 40px;
    border-radius: 0px 0px 20px 20px;
   
    display: none;
}
#main-menu li:hover ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu li{
    width: 160px;;
    
  
}

#main-menu ul.sub-menu a{
    
    
    margin-left: 20px;;
    

}
#main-menu  li:hover a{
    color: #ffffff;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu li:hover {
    background: rgb(255, 255, 255);;
    
}
#main-menu ul.sub-menu li:hover a{
    
    color: #462c1f;
}
#box{
   width: 100%;
    height: 2800px;
    background:#e6c489;
   margin-top: -5px;
     
}
.tt{
    width: 450px;
    height: 600px;;
   
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}
.tt img{
      width: 450px;
    height: 300px;;
}

.tt h2{
    text-align: center;
    font-family:Bahnschrift SemiBold;
  
    height:60px;

}

#vechungtoi1{
    width: 100%;
     height: 600px;
     background:#e6c489;
   display:none;
 }

 #vechungtoi1 img{
    width: 650px;;
    height:500px;
    margin-left: 270px;;
    margin-top: 50px;;
    float:left;
 }
 #vechungtoi1 h2 {
    margin-top: 50px;;
    font-family:Bahnschrift SemiBold;
    width: 250px;
    float:right;
    margin-right: 550px;
    font-size: 35px;

 }
 #vechungtoi1 p{
   
    margin-right: 200px;
    width: 600px;
    float: right;
    font-family: Arial;
    font-weight: 100;
    font-size: 20px;;
    margin-top: 5px;;

 }
 #vechungtoi1 a{
    float: right;
 
    color: black;
    font-family:Bahnschrift SemiBold;
      margin-right: 690px;;
    font-size: 20px;;
 }

 #do_an{
    width: 100%;
     height: 750px;
     background:#e6c489;
     display:none;
    
 }
 .aa{
    width: 450px;
    height: 700px;;

    float: left;
    margin-left: 130px;
    margin-top: 50px;
    
}
.aa img{
    width: 450px;
   height: 580px;;
}
.aa h3{
    font-family:Bahnschrift SemiBold;
    text-align: center;
    font-size: 30px;
    margin-top:10px;
}
.aa p{
    font-family:Bahnschrift SemiBold;
    text-align: center;
    font-size: 20px;
    margin-top:-10px;
}


 #do_uong{
    width: 100%;
     height: 600px;
     background:#e6c489;
     display:none;
     

     
 }

 .bb{
    width: 550px;
    height: 600px;;

    float: left;
    margin-left: 250px;
    margin-top: 50px;
   
    
    
}
.bb img{
    width: 550px;
   height: 380px;;
 
}
.bb h3{
    font-family:Bahnschrift SemiBold;
    text-align: center;
    font-size: 30px;
    margin-top:10px;
}
.bb p{
    font-family:Bahnschrift SemiBold;
    text-align: center;
    font-size: 20px;
    margin-top:-10px;
}

#bottom{
    
    width: 100%;
    height: 400px;;
    background: black;
}
.tong{
    width: 70%;
    height: 400px;;
    margin-left: 15%;
 
}
.cc{
    width: 350px;
    height: 320px;
    margin-top: 50px;;
    
    margin-left: 60px;;
    float: left;

}
.cc h2{
    font-family:Bahnschrift SemiBold;
    margin-top: 50px;;
    color:#e6c489;
}
.cc p{
    width:95%;
    font-family: Arial;
    color:#ffffff;
    margin-top:40px;
}
.cc button{
    margin-top: 10px;;
    width: 150px;;
    height: 30px;
    background: black;
    color: #ffffff;
    border: 1px solid white;
    
}
.tt p{
  
    font-size: 20px;;
    margin-left: 30px;;
    width: 90%;
    font-family:Arial Narrow;
    margin-top: 40px;;
}
.tt p a{
    font-family:Bahnschrift SemiBold;
    color:black;
}